services:
  db:
    image: pgvector/pgvector:pg16
    container_name: docuflow-db
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=docuflow
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: